*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(103, 75, 175);
    --secondary-color: #fff;
}

body {
    height: 100vh;
    max-width: 1440px;
    background-color: var(--primary-color);
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;;
}

.container{
    max-width: 100%;
    display: flex;    
}

/* header */

.nav-container{
    height: 12vh;
    display: flex;
    max-width: 100%;
    padding: 20px;
    align-items: flex-end;
    justify-content: flex-start;
}

.nav-container img {
    max-width: 60%;    
}

/* main */

.grid-container {
    height: 72vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px;
    margin-top: .5em;
}

.grid-container img {
    max-height: 95%;
    grid-column: 1 / span 2;
}

.description{
    max-width: 600px;
    grid-column: 3 / span 2;
    margin-left: 4.5em;
    margin-top: 2.5em;
    color: white
}

.description h1{
    max-width: 400px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}


.description p{
    max-width: 550px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 25px 0px;
}

.btn{
    width: 170px;
    margin-top: 10px;
    padding: 15px 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    letter-spacing: 1px;
}

/* footer */

footer{
    max-width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: flex-end;
    margin: 0px 20px;
}

.social-flex{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.social-flex a {
    display: inline-block;
    margin: 10px;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration: none;    
}

.social-flex a i{
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    color: white;
    height: 35px;
    width: 35px;
}

@media screen and (max-width: 375px) {

    body {
        background-image: url("./images/bg-mobile.svg");
    }

    .nav-container{
        align-items: center;
    }
    
    .grid-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 10px;
    }

    .grid-container img {
        max-width: 100%;
        height: 300px;
    }
    
    .description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        margin-left: 0;
        margin-top: 0;
        color: white
    }


    .description h1{
        text-align: center;
        font-size: 23px;
        margin-bottom: 0px;
    }

    .description p{
        letter-spacing: 0px;
        text-align: center;
        margin: 20px 0px;
    }

    .btn{
        width: 230px;
    }


    footer{
        justify-content: center;
        margin: 20px 0px 0px 0px;
    }

    .social-flex{
        margin: 0px;
    }

    .social-flex a {
        margin: 5px;
    }

    .social-flex a i{
        height: 30px;
        width: 30px;
    }
    
  }
